/* login */
body{
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-image: url("/ProjectMusicWeb/public/img/1739.jpg");
}

.container{
    display: grid;
    max-width: 750px;
    margin: 150px auto;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 10px 0 rgb(8, 31, 61);
}

.login-left{
    background: rgba(255, 255, 255, 0.5);
}

.login-right{
    background: white;
}