html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
    padding: 5rem;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
@mixin size($width, $height: $width){
    width: $width;
    height: $height;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #42a7fe;
    border-radius: 0.5rem;
    .header__item{
        font-size: 1.6rem;
        padding: 1rem;
        margin-left: 5rem;
        color: white;
        font-weight: bold;
        &:nth-child(3), &:hover{
            background-color: white;
            color: #42a7fe;
            border-radius: 2rem;
        }
    }
    .header__avatar{
        padding-right: 3rem;
    }
    .header__image{
        @include size(4.5rem);
        border-radius: 50%;
        object-fit: cover;
    }
}
footer{
    display: flex;
    width: 100%;
    padding: 3rem;
    background-color: white;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    .footer__title{
        font-size: 2rem;
        font-weight: bold;
        color: #42a7fe;
    }
    .footer__list{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    .footer__image{
        width: 12%;
        border-radius: 0.5rem;
        &:nth-child(2){
            margin: 0 3rem;
        }
    }
}
main{
    background-color: white;
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    .content{
        display: flex;
        flex-direction: column;
        width: calc((100% - 2rem) * 0.8);
        margin-right: 2rem;
        &__image{
            width: 70%;
            border-radius: 2rem;
            margin-bottom: 1rem;
        }
        &-author{
            margin-bottom: 1rem;
            &__name{
                font-size: 1.8rem;
                font-weight: bold;
                color: #999;
                padding-right: 2rem;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    @include size(1rem);
                    border-radius: 50%;
                    background-color: #42a7fe;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
            &__date{
                padding-left: 1rem;
                font-size: 1.8rem;
                color: #999;
            }
        }
        &__desc{
            font-size: 1.6rem;
            line-height: 1.6;
            text-align: justify;
        }
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        width: calc((100% - 2rem) * 0.2);
        background-color: #42a7fe;
        border-radius: 2rem;
        align-items: center;
        padding: 2rem;
        &__link{
            color: white;
            font-size: 1.6rem;
            font-weight: 400;
            width: 100%;
            text-align: center;
            padding: 2rem 0;
            background-color: white;
            color: #42a7fe;
            &:not(:first-child){
                margin-top: 1rem;
            }
            border-radius: 0 2rem 2rem 2rem;
            &:hover{
                background-color: #eee;
            }
        }
    }
}

@media screen and (max-width: 767px){
    body{
        padding: 1rem;
        header{
            height: 8rem;
            .header__item{
                margin-left: 1rem;
                font-size: 1.4rem;
                padding: 0.5rem;
            }
        }
        main{
            flex-direction: column;
            .content{
                width: 100%;
                margin-right: 0;
                margin-bottom: 1rem;
                &__image{
                    width: 100%;
                    margin-bottom: 2rem;
                }
                &-author{
                    &__name, &__date{
                        font-size: 2rem;
                    }
                }
            }
            .sidebar{
                width: 100%;
                padding: 2rem;
                &__link{
                    width: 80%;
                    padding: 1rem;
                }
            }
        }
        footer{
            padding: 2rem;
            .footer__image{
                width: 25%;
            }
        }
    }

}